DB_HOST=127.0.0.1
DB_PORT=5433
DB_NAME=quant_db
DB_USER=quant
DB_PASSWORD=change_me

BINANCE_TESTNET_API_KEY=change_me
BINANCE_TESTNET_API_SECRET=change_me
BINANCE_TESTNET_BASE_URL=https://testnet.binance.vision/api

BINANCE_FUTURES_TESTNET_API_KEY=change_me
BINANCE_FUTURES_TESTNET_API_SECRET=change_me
BINANCE_FUTURES_TESTNET_BASE_URL=https://demo-fapi.binance.com
